.recommend-container {
  margin-top: 25%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .recommend-sch-box {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .recommend-title {
      font-size: 25px;

    }

    .recommend-sch {
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      .rc-sch-btn {
        padding: 10px 15px;
        border: 1px solid #f0f0f0;
        border-radius: 5px;
        background: #877a7a;
        color: #fff;

      }
    }

  }

  .recommend-content {
    padding: 10%;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .book-box {
      padding: 10%;
      width: 100%;
      height: 320px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .recommend-img-box {
        width: 150px;
        //max-width: 150px;
        .recommend-img {
          width: 100%;
          object-fit: cover;
          border-radius: 3px;
          border: 1px solid #888;
        }
      }

      .recommend-books {
        width: 90%;
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .recommend-bookname {
          font-size: 16px;
        }
        .recommend-bookauthors {
          font-size: 14px;
        }
        .recommend-bookpublisher {
          font-size: 14px;
        }
      }


    }
  }
}