.wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  .main-container {
    //margin-top: 12%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

}

@media only screen and (min-width: 340px) {
  .wrap {
    width: 100%;
    height: 100vh;
    display: block;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    .main-container {
      //margin-top: 12%;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      gap: 6%;
      //z-index: 500;


      .search-container {
        width: 80%;
        height: 50px;
        margin-top: 25%;
        box-shadow: 1px 1px 10px #ccc;
        border-radius: 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .sch-lib-input {
          border: 0;
          outline: 0;
        }
      }

      .lib-list {
        width: 70%;
        max-height: 25%;
        padding: 2%;
        border: 1px solid #666;
        border-radius: 10px 0px;
        box-shadow: 1px 1px 10px #ccc;
        display: flex;
        justify-content: center;
        align-items: start;
        overflow-y: scroll;
        flex-shrink: 0;

        .lib-content {
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 5px;
          justify-content: center;


          .lib-box {
            list-style: none;
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 2px;
            padding-bottom: 5px;
            justify-content: center;
            border-bottom: 1px solid #ccc;

            .lib-name {
              font-size: 15px;
            }
            .lib-address {
              font-size: 13px;
            }
            .loans-status {
              font-size: 13px;
            }
          }
        }
      }

      .map-api {
        // margin-top: 5vh;
        width: 80%;
        height: 35%;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;

        .marker-wrap {
          min-width: 150px;
          max-width: 200px;
          background-size: 200px;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 10px;


          .marker-name {
            padding: 5px;
            color: #000;
            white-space: nowrap;
          }

        }

      }
    }

    .modal-container {
      background-color: #fff;
      width: 100%;
      height: 100%;
      z-index: 99999;
      position: fixed;

      /* 👈 추가: 뷰포트의 왼쪽 상단(0,0)에 고정되도록 명시 */
      top: 0;
      left: 0;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .modal-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 7% 0 0 0;

        .modal-close {
          width: 90%;
          padding: 0 5%;
          display: flex;
          justify-content: flex-end;
          align-items: center;


          .modal-close-btn {
            font-size: 35px;
          }
        }

        .search-container {
          width: 80%;
          height: 50px;
          margin: 7%;
          box-shadow: 1px 1px 10px #ccc;
          border-radius: 25px;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;

          .sch-lib-input {
            border: 0;
            outline: 0;
          }
        }

        .booklist-wrap {
          width: 75%;
          height: 75%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 2.5% 2.5% 12% 2.5%;
        }
      }
    }
  }
}